<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>niemand.online/NoRouteDocumentation</title>
    <script src="https://unpkg.com/vue@2.5.2/dist/vue.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.16.2/dist/axios.min.js" type="application/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script></head>
<body class="uk-container-large">
<div id="app"></div>
<script>{% verbatim %}
    const method = Vue.component('method', {
        template: `<tr>
            <td><span uk-icon="icon: social" v-if="route.seo"></span><span uk-icon="icon: close" v-else></span></td>
            <td>{{ route.httpMethod }}</td>
            <td>{{ route.fullPath }}</td>
            <td v-bind:title="route.controllerFilename">{{ route.controllerClassName }}<span v-if="route.controllerServiceId">({{route.controllerServiceId}})</span></td>
            <td>{{route.methodName}}</td>
        </tr>`,
        props: ['route']
    });

    const $vue = new Vue({
        el: '#app',
        components: { method },
        template: '<table class="uk-table uk-table-responsive uk-table-striped uk-table-hover"><method v-for="routeItem in routes" v-bind:route="routeItem"></method></table>',
        data: () => ({
            routes: [],
            loading: true
        }),
        created() {
            axios.get('/api/no_route.json')
                .then(response => this.routes = response.data.data.slice())
                .then(() => this.loading = false);
        }
    });
{% endverbatim %}</script>
</body>
</html>
